%section.sidebar
  %a{href: '/'}
    = image_tag 'https://api.twitter.com/1/users/profile_image?screen_name=_joliv&size=original', class: 'sidebar-profile-pic'
  .sidebar-social
    .icon
      %a{href: 'http://github.com/julioolvr', target: 'blank'}
        = image_tag 'icons/Github.png'
    .icon
      %a{href: 'http://plus.google.com/117723231368654711284', target: 'blank'}
        = image_tag 'icons/Google.png'
    .icon
      %a{href: 'http://www.twitter.com/_joliv', target: 'blank'}
        = image_tag 'icons/Twitter.png'
    .icon
      %a{href: 'http://www.linkedin.com/in/julioolivera', target: 'blank'}
        = image_tag 'icons/LinkedIn.png'
  .sidebar-archive
    = link_to 'Archivo', '/archive.html'