---
pageable: true
per_page: 20
---

.post-list
  %h1= "\##{tagname}"

  %ul
    - page_articles.each do |post|
      %li
        = link_to post.title, post
        %span.post-list--date= post.date.strftime('%Y/%m/%d')
  - if paginate && (prev_page || next_page)
    - if prev_page
      %span= link_to '«', prev_page
    = "#{page_number} de #{num_pages}"
    - if next_page
      %span= link_to '»', next_page
